sandbox/temp/*
__pycache__
cases
learns
baselines/*
.cache
peft_trainer/lora_adapters/*
wandb
playground
temp
sandbox/coremark_workspace/out
sandbox/coremark_workspace/hyp
sandbox/coremark_workspace/failed